<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #detailsContents p {
            font-size: large;
        }

        #detailsContents p span {
            font-size: large;
            font-weight: 800;
        }
    </style>
</head>
<body>

<div id="detailsBox">
    <div id="detailsHeader">
        <h2 id="detailTitle" class="text-center">Soccer</h2>
    </div>
    <div id="detailsContents">
        <p><span>Date:</span> <span id="detailDate">Fr 11.11</span></p>
        <p><span>Time:</span> <span id="detailTime">6:00pm</span></p>
        <p><span>Participants:</span> <span id="detailParticipants">Trick, Trick, Track</span></p>
        <p><span>Location:</span> <span id="detailLocation">Han River playground</span></p>
    </div>
    <div id="detailVotingResults">
        <h3 class="text-center"> Distribution of votes:</h3>
        <img src="/img/votingResults.png" alt="barGraph of vote distribution">
    </div>
    <div id="btnSpace">
        <button id="btnChangeVote" type="button" class="btn btn-info"
                onclick="openEvent(document.getElementById('detailsDivHidden').innerHTML)">Change vote!
        </button>
    </div>
    <div id="detailsDivHidden" hidden>

    </div>
</div>
</body>
</html>