<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head> </head>
  <body>
    <h2>Document Chronos</h2>

    <p>
      <small>This line of text is meant to be treated as fine print.</small>
    </p>

    <figure>
      <blockquote class="blockquote">
        <p class="mb-0">
          AJeong Sung Andreas Kranz Eunseong Park HaEun Noh README Chronous
          Med-fi Prototype on HTML HOW TO USE: You can use the chronos which
          were built by HTML and Spring Boot. Execute the Jar File and access it
          with localhost:8090/ HTML: Hypertext markup is the dominant markup
          language developed for web page display. HTML also provides a way to
          create structural documents with links, citations, and other items, as
          well as representing structural meanings for text such as titles,
          paragraphs, lists, etc. Hypertext markup has a possibility to make
          further functionalities such as API. Since we have the map user
          interface, which is the basic element, we introduce the Google Map API
          service to show our map based design idea through the Hypertext
          markup. CONTEXT Task1) Users make a new schedule and send invitations
          to participants. You can make a new schedule by clicking the button on
          the home screen underneath. The new screen popped up, and you can
          check what time you want to make a schedule and where you want to meet
          participants. You can do it by clicking the buttons and for the
          location the screen shows the map screen to choose the location. After
          inputting your options, you can give all the participants the
          invitation in voting form by hitting the button on the screen
          underneath. Task2) Through a voting process, users decide the best
          time/location among many possible options Chronos has offered. The
          voting options on the voting screen are presented in the order of the
          optimal time and place calculated by the service. By giving the points
          one to five in each option, the user can give his/her opinion on each
          option. The user chooses one or more options for voting and hits the
          button on the screen underneath for completing the voting. Task3)
          Users rearrange the schedule when the situation has changed By
          clicking the meeting already scheduled, you can access the voting
          options. The new screen on the map screen shows the voting options in
          the past. You can see through the options. You can delete one or more
          options on the screen by clicking the X button beside the options.
        </p>
      </blockquote>
      <figcaption class="blockquote-footer">ASAP</figcaption>
    </figure>
  </body>
</html>
