<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div>

    <h3>Set up a meeting and find a Time!</h3>

    <form>
        <label for="eName" class="form-label-label">Event name:</label>
        <input id="eName" type="text" class="form-control"><br>
        <label for="eParticipants" class="form-label">Participants:</label>
        <input type="email" id="eParticipants" multiple class="form-control"><br>
        <label class="form-label">Location:</label>

        <table>
            <tbody>
            <tr>
                <td class="col-3">
                    <img src="/img/hci1.PNG" alt="Movie Theater" class="img-fluid">
                </td>
                <td class="col-3">
                    <img src="/img/hci2.PNG" alt="ECC" class="img-fluid">
                </td>
                <td class="col-3">
                    <img src="/img/hci3.PNG" alt="Soccer Field" class="img-fluid">
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    <input type="radio" name="radioLoc" id="radioTheater">
                    <label for="radioTheater" class="text-center">Movie Theater</label>
                </td>
                <td class="text-center">
                    <input type="radio" name="radioLoc" id="radioECC">
                    <label for="radioECC" class="text-center">ECC</label>
                </td>
                <td class="text-center">
                    <input type="radio" name="radioLoc" id="radioSoccer">
                    <label for="radioSoccer" class="text-center">Soccer Field</label>
                </td>
            </tr>

            </tbody>
        </table>
    </form>

    <div class="btn-group">
        <form th:action="@{/}" method="post">
            <input type="submit" value="Cancel" class="btn btn-outline-success"/>
        </form>
        <button type="button" onclick="makeMeeting()" class="btn btn-outline-primary">Make!</button>
    </div>


</div>

</html>
